/*
Media Queries
*/

@media only screen and (max-width : 1200px) {
  /*Main Index Page*/
  .navbar-index .collapse .navbar-right {
    margin-right: 0rem;
  }

  #main img {
    max-width: 50rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width : 1000px) {
  .brand-nav-image {
    height: 90%;
  }

  #about {
    background-size: cover !important;
    background-position: 0% 15% !important;
    height: 100%;
    margin-top: -5rem;

  }

  #about .container {
    background: rgba(255,255,255,0.7);
    padding: 5rem;
    margin-top: 5rem;
  }

  #contact {
    background-size: cover !important;
    background-position: 0% 15% !important;
    height: 100%;
    margin-top: -8rem;
    text-align: center;

  }

  #contact .container {
    background: rgba(255,255,255,0.7);
    padding: 15rem 2rem;
    margin-top: 8rem;
  }

  #resume-image {
    margin-top: -2rem;
  }
}

@media only screen and (max-width : 768px) {
  .navbar {
    position: fixed;
    top: 0;
    z-index: 8;
    width: 100%;
  }

  .navbar-index .navbar-toggle {
    position: absolute;
    z-index: 9;
    right: 3rem;
    top: 2rem;
  }

  .navbar-index .collapse {
  background: #f8f8f8;
  position: absolute;
  min-height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
  }

  .navbar-index .container-fluid .collapse .nav li a {
  color: black;
  }

  #about, #media, #resume {
    margin-top: 4rem;
  }
  
  #main {
    text-align: center;
  }

  #main img {
  max-width: 100%;
  float: none;
  margin-top: 50rem;
  }
  
  #about {
    background-position: 60% 20% !important;
  }

   #contact .container {
    margin-top: 20rem;
  }

}

@media only screen and (max-width : 480px) {
  .brand-nav-image {
    height: 50%;
    margin-top: 1.25rem;
  }

  h3 {
    font-size: 3rem;
  }

  h5, h6 {
    font-size: 1.75rem;
  }

  #about p, p {
    line-height: 2rem;
    font-size: 1.25rem;
  }

  #resume-image {
    margin-top: 0;
  }

  .footer-image {
  height: 2rem;
  }
}

@media only screen and (max-width : 320px) {
    h5, h6 {
    font-size: 1.25rem;
  }

  .footer-image {
    height: 1.75rem;
  }
}